@import "tailwindcss";

:root {

    --primary: #2563eb;
    --primary-hover: #1d4ed8;

    --success: #16a34a;
    --warning: #f59e0b;
    --danger: #dc2626;

    --background: #f8fafc;
    --card: #ffffff;

    --border: #e2e8f0;

    --text-primary: #0f172a;
    --text-secondary: #64748b;
}

html,
body,
#root {
    font-family: "Vazirmatn", sans-serif;
    min-height: 100%;
}

html {
    direction: rtl;
}

body {
    background: var(--background);
    color: var(--text-primary);
    font-feature-settings: "ss01";
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 999px;
}

/* Reusable classes */

.page-container {
    @apply min-h-screen p-4 pb-24;
}

.page-content {
    @apply max-w-md mx-auto;
}

.card {
    @apply bg-white rounded-2xl shadow-sm border;
    border-color: var(--border);
}

.card-body {
    @apply p-4;
}

.input {
    @apply w-full border rounded-xl p-3 outline-none;
    border-color: var(--border);
}

.input:focus {
    border-color: var(--primary);
}

.btn-primary {
    @apply text-white rounded-xl px-4 py-3 font-medium transition;
    background: var(--primary);
}

.btn-primary:hover {
    background: var(--primary-hover);
}

.btn-secondary {
    @apply border rounded-xl px-4 py-3 font-medium;
    border-color: var(--border);
}

.status-badge {
    @apply px-3 py-1 rounded-full text-xs font-medium;
}